<% include ../../views/partials/header %>

<div class="container profile">
  <div class="jumbotron">
    <h2><%= profile.name %></h2>
    <h2 id=profileId hidden="true"><%= profile.id %></h2>
    <img src="<%= profile.photo %>">
  </div>
 <div>
  <% if (user) { %>
 <div class="container">
   <form class="pull-right">
     <input id="sendEmail" type="email" required="true">
     <button id="sendBtn">Email Report</button>
        <div id="email-sent-success" class="alert alert-success alert-dismissable" hidden="true">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            Success! Profile details sent to
        </div>
        <div id="email-sent-failed" class="alert alert-failure alert-dismissable" hidden="true">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            Failure! Profile details not sent to
        </div>
    </form>
    <div id="response"></div>
 </div>
  <% } %>
  <div>
    <h3>Profile</h3>
    <table class="table table-hover table-user-information">
      <tbody>
        <% if (profile.name) { %>
        <tr>
          <td>Name:</td>
          <td><%= profile.name %></td>
        </tr>
        <% } %>
        <% if (profile.triggeredOn) { %>
        <tr>
          <td>Date Triggered:</td>
          <td><%= profile.triggeredOn.toLocaleString() %></td>
        </tr>
        <% } %>
        <% if (profile.birthday) { %>
        <tr>
          <td>Date of Birth:</td>
          <td><%= profile.birthday.toLocaleDateString() %></td>
        </tr>
        <tr>
          <td>Age:</td>
          <td><%= profile.age %></td>
        </tr>
        <% } %>
        <% if (profile.gender) { %>
        <tr>
          <td>Gender:</td>
          <td><%= profile.gender %></td>
        </tr>
        <% } %>
        <% if (profile.email) { %>
        <tr>
          <td>Email</td>
          <td><a href="mailto:<%= profile.email %>"><%= profile.email %></a></td>
        </tr>
        <% } %>
        <% if (profile.phonenumber) { %>
        <tr>
          <td>Phone Number</td>
          <td><%= profile.email %></td>
        </tr>
         <% } %>
        <% if (profile.social) { %>
        <tr>
          <td>Social</td>
          <td>
            <ul class="social-list">
            <% if (profile.social.twitter.handle) { %>
              <li>
                <a href="https://twitter.com/<%= profile.social.twitter.handle %>" target="_new" class="fa fa-twitter">Twitter</a>
                <% if(profile.mostRecentPlatform === 'twitter') { %> <em>* Most recently used. <% } %>
              </li>
            <% } %>
            <% if (profile.social.instagram.handle) { %>
              <li>
                <a href="https://instagram.com/<%= profile.social.instagram.handle %>" target="_new" class="fa fa-instagram">Instagram</a>
                <% if(profile.mostRecentPlatform === 'instagram') { %> <em>* Most recently used. <% } %>
              </li>
            <% } %>
            <% if (profile.social.facebook.profile) { %>
              <li>
                <a href="https://facebook.com/<%= profile.social.facebook.profile %>" target="_new" class="fa fa-facebook">Facebook</a>
                <% if(profile.mostRecentPlatform === 'facebook') { %> <em>* Most recently used. <% } %>
              </li>
            <% } %>
            <ul>
          </td>
        </tr>
        <% } %>
      </tbody>
    </table>
  </div>
    <% if (profile.social.twitter.status) { %>
    <div>
      <h3>Recent Tweets</h3>
      <table id="recent-tweets" class="table table-hover table-user-information">
        <thead>
          <tr>
            <th>Tweet</th>
            <th>Date/Time</th>
            <th>Source</th>
            <th>Geo</th>
            <th>Coordinates</th>
            <th>Place</th>
        </thead>
        <tbody>
          <% for(var i=0; i < profile.social.twitter.status.length; i++) { %>
            <% let status = profile.social.twitter.status[i] %>
            <tr data-href="https://twitter.com/<%=profile.social.twitter.handle%>/status/<%=status.id_str%>" class="tr-link">
              <td><%= status.text %></td>
              <td><%= status.createdAd.toLocaleString() %></td>
              <td><%= status.source %></td>
              <td><%= status.geo %></td>
              <td><%= status.coordinates %></td>
              <td><%= status.place.name ? status.place.name + " - " + status.place.country + "(" + status.place.type + ")" : "" %></td>
            </tr>
          <% } %>
        </tbody>
      </table>
    </div>
  <% } %>
</div>
<script>
  $("#sendBtn").click(function(){
    var id = document.getElementById("profileId").value
    var sendEmail = document.getElementById("sendEmail").value
    /*
    var d = 
    {
      email : sendEmail,
      userid: id
    };
    if (sendEmail != null && sendEmail != "")
    {
      $.ajax({
        type: "POST",
        url: 'http://localhost:3000/api/notify',
        data: d,
        success: function(res) {
            $(".result").html(res);    
        },
        error: function(err) {
            $(".result").html(err); 
        }
      })
      }
    }*/
      var success = true;
      if (success)
      {
        var div = document.getElementById('email-sent-success');
        div.innerHTML = div.innerHTML + email;
        $("#email-sent-success").show();
      }
      else 
      {
        var div = document.getElementById('email-sent-failed');
        div.innerHTML = div.innerHTML + email;
        $("#email-sent-failed").show();
      }
    });
  $(document).ready(() => {
    $('tr[data-href]').on("click", function() {
        window.open($(this).data('href'), '_blank');
    });
  });
</script>

<% include ../../views/partials/footer %>
