<% include ../views/partials/header %>

<div class="container home">
  <div class="jumbotron">
    <img src="img/mcsc-logo.png">
    <h2>Person Finder App</h2>
    <% if (!user) { %>
      <h3>To request access please contact <a href="https://mcsc.ca/">Missing Children Society of Canada</a>.</h3>
      <div class="login">
        <a class="btn btn-success btn-lg" href="/login" role="button">Login as Admin</a>    
      </div>
    <% } %>
  </div>
  <% if (user) { %>
    <h3>Active Profiles</h3>
    <table id="profile-list" class="table table-hover">
      <thead>
        <td><strong>Image</strong></td>
        <td><strong>Name</strong></td>
        <td><strong>Date of Birth</strong></td>
        <td><strong>Trigger Time</strong></td>
        <td><strong>Gender</strong></td>
      </thead>
      <tbody>
        <% for(var i=0; i < profiles.length; i++) { %>
          <tr data-id="<%= profiles[i].id %>">
            <td><img src="<%= profiles[i].photo %>"></td>
            <td><%= profiles[i].name %></td>
            <td><%= profiles[i].birthday ? profiles[i].birthday.toLocaleDateString() : "unknown" %></td>
            <td><%= profiles[i].triggeredOn.toLocaleString() %></td>
            <td><%= profiles[i].gender %></td>
          </tr>
        <% } %>
      </tbody>
    </table>      
  <% } %>
</div>
<script>
  $(document).ready(() => {
    $("#profile-list >tbody >tr").each((index, element) => {
      console.log(element);
      $(element).click((e, elem) => {
        window.location.href = "/profile/" + $(e.delegateTarget).data("id");
      })
    })
  });
</script>

<% include ../views/partials/footer %>
